@import '../const/var.scss', '../const/minix.scss', '../additional/neumorphism.scss';

.buttonContainer{
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $mainColor;
  @extend %over;
  border-radius: 10px;
  color: #444;
}

.buttonContainer:hover{
  color: #888;
  background-color: #FFFFFF;
}

.buttonContainer:active {
  @extend %under;
  color: #444;
  border-radius: 10px;
  background: $mainColor;
}

