@import "../const/var.scss", "../const/minix.scss",
  "../additional/neumorphism.scss";

$transitionTime: 500ms;

.chartsBox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "close menu"
    "chart chart";
  column-gap: 15px;
  row-gap: 15px;
  transition: height $transitionTime, width $transitionTime;
}

.close {
  grid-area: close;
}

.menu {
  grid-area: menu;
  display: flex;
	flex-direction: column;
  
  .checkboxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .applyButton {
    width: 100%;
  }
}

.chartContainer {
  grid-area: chart;
  width: 700px;
  height: 300px;

  display: flex;
  justify-content: center;
  .chart {
    width: 350px !important;
    height: 120px !important;
  }
  .panel-wrapper {
    min-height: 308px;
    overflow: hidden;
  }
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

