@import "../const/var.scss", "../const/minix.scss",
  "../additional/neumorphism.scss";

$transitionTime: 500ms;

.chartsBox {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "close menu"
    "chart chart";
  column-gap: 15px;
  row-gap: 15px;
  transition: height $transitionTime, width $transitionTime;
}

.close {
  grid-area: close;
}

.menu {
  grid-area: menu;
  display: flex;
	flex-direction: column;
  
  .checkboxContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .applyButton {
    width: 100%;
  }
}

.chartContainer {
  grid-area: chart;
  width: 700px;
  height: 300px;

  display: flex;
  justify-content: center;
  .chart {
    width: 350px !important;
    height: 120px !important;
  }
  .panel-wrapper {
    min-height: 308px;
    overflow: hidden;
  }
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  user-select: none;

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    background-color: none;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

%checkmarkGeneralStyle {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 30%;
}

%checkmarkShadowGeneralStyle {
  @extend %checkmarkGeneralStyle;
  @extend %neu-shadow-transition;
  background: none;
}

.checkmark {
  @extend %checkmarkGeneralStyle;
  @extend %neu-color-transition;
  background-color: $mainColor;
}

.checkmark:after {
  @extend %neu-shadow-transition;
  content: "";
  position: absolute;
  opacity: 0;
}

.checkmarkInner {
  @extend %checkmarkShadowGeneralStyle;
  box-shadow: inset 4px 4px 4px #474747, inset -4px -4px 4px #818181;
  opacity: 0;
}

.checkmarkOuter {
  @extend %checkmarkShadowGeneralStyle;
  box-shadow: 4px 4px 4px #00225533, -4px -4px 4px #ffffffff;
  opacity: 1;
}

.container:hover input ~ {
  .checkmark {
    background-color: #ffffff;
  }
  .checkmark:after {
    opacity: 1;
    border-color: $neuHoverBackgroundColor;
  }
}

.container input:checked ~ {
  .checkmark {
    opacity: 1;
    background-color: $buttonIconColor;
  }
  .checkmark:after {
    opacity: 1;
  }
  .checkmarkInner {
    opacity: 1;
  }
  .checkmarkOuter {
    opacity: 0;
  }
}

.container input:checked:hover ~ {
  .checkmark {
    background-color: rgb(80, 80, 80);
  }
  .checkmarkInner {
    opacity: 0.6;
  }
}

