@import "../const/var.scss", "../const/minix.scss",
  "../additional/neumorphism.scss";

  .inputHolder {
    @include flexCenter;

    .mainSearch {
      width: 100%;
      border-radius: 25px;
      border-radius: 25px;
      border: none;
      outline: none;
      background: $mainColor;
      padding: 5px 25px 5px 20px;
      font-size: 17px;
      @extend %neu-shadow-under;

      .mainInput {
        width: 100%;
        font-size: 15px;
        border: none;
        background: transparent;
        border-bottom: 1px solid #aaa;
      }
      .mainInput:focus {
        outline: none;
        border-bottom: 1px solid #333;
      }
    }
  }