@import "../const/var.scss", "../const/minix.scss",
  "../additional/neumorphism.scss";

.container {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  background: #00000022;
  z-index: 1200;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms;

  .dialog {
    @extend %neu-shadow-over-subtle;
    @extend %neu-rounded;
    width: 300px;
    max-width: 300px;
    max-height: 300px;
    background: $mainColor;
    position: relative;
    transition: height 500ms;

    .inside {
      margin: 30px 30px 15px 30px;

      .close {
        position: absolute;
        left: 13px;
        top: 13px;
      }

      .title {
        color: rgb(100, 100, 100);
        font-size: 25px;
        text-align: center;
        margin-bottom: 15px;
      }

      .input {
        margin-bottom: 20px;
      }

      .button {
        margin-top: 10px;
        margin-bottom: 20px;
      }

      .message {
        text-align: center;
        font-size: small;
        color: $loginErrorTextColor;
        opacity: 0;
        transition: opacity 500ms;
      }

      .visibleMessage {
        opacity: 1;
      }
    }
  }

  .standardDialog {
    height: 260px;
  }

  .errorDialog {
    height: 280px;
  }
}

.visibleContainer {
  pointer-events: auto;
  opacity: 1;
}
