@import '../const/var.scss', '../const/minix.scss';

.menuContainter{
    span{
      display: block;
      width: 20px;
      height: 3px;
      background-color: $iconBase;
      margin-top: 4px;
      border-radius: 3px;
      transition: .2s;
      &:first-child{
        margin-top: 0px;
      }
    }
    &:hover{
      cursor: pointer;
      span{
        background-color: $iconBaseHover;
      }
    
  }
  .menuHolder{
    width: 300px;
    height: 100vh;
    background: $menuBackground;
    box-shadow: 0px 0px 8px 0px $shadowColor;
    position: absolute;
    z-index: 9999;
    left: 0px;
    top: 0px;
    .close{
      padding-bottom: 30px;
      padding-top: 10px;
      padding-right: 10px;
      margin-bottom: 10px;
      .closeIcon{
        float: right;
        clear: both;
        font-size: 30px;
        color: $iconBase;
        transition: $transitionTime;
        &:hover{
          cursor: pointer;
          color: $iconBaseHover;
        }
      }
    }
    .link{
      color: $menuLinkColor;
      text-decoration: none;
      transition: $transitionTime;
      display: block;
      &:hover{
        background-color: $menuLinkBackgroundHover;
        color: $menuLinkColorHover;
        cursor: pointer;
      }
      .holder{
        display: flex;
        align-items: center;
        padding: 15px 20px;
        margin-top: 10px;
        .menuIcon{
          font-size: 25px;
          position: relative;
          top: 3px;
        }
        .textAligner{
          margin-left: 15px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 19px;
        }
      }
    }
  }
}
.none{
  display: none;
}