@import '../const/var.scss', '../const/minix.scss', '../additional/neumorphism.scss';

.menuContainter{
  span{
    display: block;
    width: 20px;
    height: 3px;
    background-color: $iconBase;
    margin-top: 4px;
    border-radius: 3px;
    &:first-child{
      margin-top: 0px;
    }
  }
  &:hover{
    cursor: pointer;
    span{
      background-color: $iconBaseHover;
    }
  }

  display: grid;
  grid-gap: 10px;

  .map {
    grid-column: 1;
    grid-row: 1;
  }
  .account {
    grid-column: 2;
    grid-row: 1;
  }
  .about {
    grid-column: 1;
    grid-row: 2;
  }
  .docs {
    grid-column: 2;
    grid-row: 2;
  }
  

  .link {
    color: $menuLinkColor;
    text-decoration: none;
    display: block;

    .holder {
      display: flex;
      align-items: center;
      padding: 8px 10px;
      margin: 0 auto 0 auto; 

      .menuIcon {
        font-size: 25px;
        position: relative;
        top: 3px;
      }
      .textAligner {
        margin-left: 15px;
        font-size: 18px;
      }
    }
    .holder-nonactive {
      @extend %neu-shadow-over;
      @extend %neu-rounded;

      &:hover {
        @extend %neu-hover;
      }
      &:active {
        @extend %neu-active;
      }
    }
    .holder-active{
      @extend %neu-shadow-under;
      @extend %neu-rounded;
    }
  }
}
.none{
  display: none;
}