@import "../const/var.scss", "../const/minix.scss",
"../additional/neumorphism.scss";

.headerText {
  font-size: 20px;
  color: $textColor;
  margin-bottom: 10px;
}

.controlPanel {
  margin-bottom: 20px;
}

.statistics {
  margin-bottom: 20px;
}

.button {
  width: 200px;
  .holder {
    display: flex;
    align-items: center;
    padding: 8px 10px;
    margin: 0 auto 0 auto;

    .menuIcon {
      font-size: 25px;
      position: relative;
      top: 3px;
    }
    .textAligner {
      margin-left: 15px;
      font-size: 18px;
    }
  }
}
.statisticsContent {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.title {
  font-size: 22px;
  font-weight: 400;
  color: $textColor;
}