@import '../const/var.scss', '../const/minix.scss';

.infoContainer{
  color: $textColor;
  background: transparent;
  position: fixed;
  overflow: hidden;
  z-index: 400;
  opacity: 0.70;
  bottom: 1vh;
  right: 2vh;
  text-align: right;
}