@import '../const/var.scss', '../const/minix.scss';

$neu-round-radius: 15px;

%neu-shadow-under {
    box-shadow: inset 5px 5px 5px #00225533, inset -5px -5px 5px #FFFFFFFF;
}

%neu-shadow-under-subtle {
    box-shadow: inset 5px 5px 5px #00225533, inset -5px -5px 5px #FFFFFF88;
}

%neu-shadow-over {
    box-shadow: 5px 5px 5px #00225533, -5px -5px 5px #FFFFFFFF;
}

%neu-rounded {
    border-radius: $neu-round-radius;
}

%neu-hover {
    color: $neuHoverBackgroundColor;
    background-color: #FFFFFF;
}

%neu-active {
    @extend %neu-shadow-under;
    background: $mainColor;
}