@import "../../const/var.scss", "../../const/minix.scss";

.contact {
  @include flexCenter;
  padding: 10px 10px;
  height: 10vh;
  background-color: $subpagePanelColor;
  color: $subpagePanelTextColor;
}
