@import '../../const/var.scss', '../../const/minix.scss';

.sideBar{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 10px;
  top: 50vh;
  bottom: 50vh;
  background: transparent;
  .itemList{
    padding-right: 10px;
    list-style: none;
    .nav-item{
      color: $subpagePanelColorLight;
      .active{
        color: $subpagePanelColor;
      }
    }
  }
}