$mainColor: #A5D0A8;
$mainColorBtn: #ececec;
$secondBtnColor: #A5D0A8;
$secondBtnTextColor: #333;

$inputStdColor: #ececec;
$btnIcon: #333;
$textColor: #333;
$textSeparator: #333;
$lightenTextColor: rgb(77, 77, 77);
$iconBase: #333;
$iconBaseHover: #ca3636;
$menuBackground: #ffffff;
$menuLinkColor: #333;
$menuLinkColorHover: #333;
$menuLinkBackgroundHover: #c4c4c4;
$shadowColor: #333;

$transitionTime: .2s;

$qualityStateColor_1: #333;
$qualityStateColor_2: #333;
$qualityStateColor_3: #333;
$qualityStateColor_4: #333;
$qualityStateColor_5: #333;