$mainColor: rgb(244, 244, 244);
$mainColorBtn: #ececec;
$secondBtnColor: #a5d0a8;
$secondBtnTextColor: #333;

$mediaMobileMaxWidth: 600px;

$textColor: rgb(200, 200, 200);
$thinTextColor: rgb(109, 109, 109);

$inputStdColor: #ececec;
$btnIcon: #555;
$textColor: #333;
$textSeparator: #333;
$lightenTextColor: rgb(77, 77, 77);
$iconBase: #555;
$iconBaseHover: #ca3636;
$menuBackground: #ffffff;
$menuLinkColor: #333;
$menuLinkColorHover: #333;
$menuLinkBackgroundHover: #c4c4c4;
$shadowColor: #00000033;
$statisticIconColor: #aaaaaa;
$search-bar-icon-color: #b1b1b1;
$search-bar-sugggestion-hover-color: #eaeaea;
$inputColor: #aaa;
$inputFocusedColor: #333;


$transitionTime: 0.2s;

$qualityStateColor_1: rgb(90, 172, 14);
$qualityStateColor_2: rgb(77, 182, 17);
$qualityStateColor_3: #333;
$qualityStateColor_4: #333;
$qualityStateColor_5: #333;

$sensorDataBackground: #ffffff;

$subpagePanelColor: #333;
$subpagePanelColorLight: #3337;
$subpagePanelTextColor: #ffffff;
$sectionSecondColor: #a5d0a8;

$neuHoverBackgroundColor: rgb(80, 200, 240);

$buttonIconColor: rgb(100, 100, 100);

$animation-easing: cubic-bezier(0.61, 1, 0.88, 1);