$mainColor: #A5D0A8;
$mainColorBtn: #ececec;
$inputStdColor: #ececec;
$btnIcon: #333;
$textColor: #333;
$iconBase: #333;
$iconBaseHover: #ca3636;
$menuBackground: #ffffff;
$menuLinkColor: #333;
$menuLinkColorHover: #333;
$menuLinkBackgroundHover: #c4c4c4;
$shadowColor: #333;

$transitionTime: .2s;