@import "../const/var.scss", "../const/minix.scss",
  "../additional/neumorphism.scss";

.root {
  background-color: $mainColor;
  width: 100vw;
  height: 100vh;

  .insideRoot {
    margin: auto;
    width: 1200px;
    max-width: 95%;
    height: 100vh;

    .header {
      display: block;
      font-size: 40px;
      font-weight: 200;
      color: $textColor;
      padding-top: 10px;
      padding-bottom: 10px;
    }

    .tabs {
      @extend %neu-rounded;
      @extend %neu-shadow-over;
      width: 100%;
      .insideTabs {
        padding-top: 10px;
        padding-bottom: 10px;
        display: flex;
        justify-content: space-between;
        .button {
          width: 200px;
          margin-left: 10px;
          margin-right: 10px;
          .holder {
            display: flex;
            align-items: center;
            padding: 8px 10px;
            margin: 0 auto 0 auto;

            .menuIcon {
              font-size: 25px;
              position: relative;
              top: 3px;
            }
            .textAligner {
              margin-left: 15px;
              font-size: 18px;
            }
          }
        }
      }
    }

    .card {
      margin-top: 20px;
      @extend %neu-rounded;
      @extend %neu-shadow-over;
      width: 100%;
      height: 75vh;
      overflow: auto;
    }
  }
}
