@import '../../const/var.scss', '../../const/minix.scss';

.stationDetail{
    max-height: calc(100vh - 55px);
    color: $textColor;
    display: block;
    background-color: $mainColor;
    min-width: 400px;
    .close{
        position: absolute;
        right: 0;
        font-size: 30px;
        margin: 10px 10px 0 0;
        transition: $transitionTime;
        &:hover{
            cursor: pointer;
            color: $iconBaseHover;
        }
    }
    .holder{
        display: flex;
        justify-content: space-between;
    }
    .mainInfo{
        padding: 15px 15px 0 15px;
        .address{
            font-size: 23px;
            font-weight: bold;
        }
        .temperature{
            margin-right: 50px;
            position: relative;
            top: 2px;
            font-size: 20px;
        }
        .airQualityLabel{
            margin-top: 13px;
        }
        .airQualityIcon{
            font-size: 40px;
            margin-right: 70px;
        }
    }
    .hd{
        margin-bottom: 15px;
        margin-top: 15px;
        margin-left: 15px;
        font-size: 20px;
        font-weight: bold;
        .subInfo{
            font-size: 13px;
            font-weight: normal;
            color: $thinTextColor;
            display: block;
        }
    }
    .sensorsInfo{
        margin-left: 15px;
        .verticalItemHolder{
            display: flex;
            align-items: center;
        }
        .qualityStatusCircle{
            width: 15px;
            height: 15px;
            border-radius: 100%;
            display: block;
            position: relative;
            top: -2px;
            margin-left: 30px;
        }
        .valueName{
            text-transform: uppercase;
            margin-left: 15px;
            font-size: 20px;
        }
        .valuePrecentage{
            font-size: 20px;
            margin-right: 30px;
        }
        .value{
            text-align: left;
            min-width: 120px;
            font-size: 20px;
            span{
                font-size: 15px;
            }
        }
    }
    .lastMeasuremtnTime{
        font-size: 12px;
        margin-left: 40px;
        margin-top: 5px;
        color: $thinTextColor;
    }
    .sensorChart{
        .chart{
            width: 395px !important;
            height: 200px;
        }
        .panel-wrapper{
            min-height: 308px;
            overflow: hidden;
        }
    }
}
