@import "../../const/var.scss", "../../const/minix.scss",
  "../../additional/neumorphism.scss";




.innerCardSummary {
  position: relative;
  @extend %neu-shadow-over;
  @extend %neu-rounded;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.innerCardSummary2 {
  width: 100%;
  height: 200px;

  .background {
    width: 100%;
    height: 100%;
  }

  .title {
    position: absolute;
    width: 90%;
    left: 10px;
    top: 10px;
    color: white;
    font-size: 25px;
    font-weight: 400;
  }

  .aqiValue {
    position: absolute;
    text-align: center;
    width: 30%;
    left: 55%;
    top: 110px;
    color: white;
    font-size: 60px;
    font-weight: 300;
  }
  .aqiText {
    position: absolute;
    text-align: center;
    width: 30%;
    left: 55%;
    top: 105px;
    color: white;
    font-size: 15px;
    font-weight: 300;
  }
  .aqiDescription {
    position: absolute;
    text-align: center;
    width: 60%;
    left: 40%;
    top: 175px;
    color: white;
    font-size: 15px;
    font-weight: 300;
  }
}

@keyframes example {
  from {left: 100%;}
  to {left: -75px;}
}

@keyframes example2 {
  from {left: 100%;}
  to {left: -500px;}
}

.backgroundCloud {
  position: absolute;
  right: 0px;
  width: calc(100px * 0.75);
  height: calc(70px * 0.75);
  animation: example 4s linear infinite;
}


.foregroundCloud {
  position: absolute;
  right: 0px;
  width: calc(100px * 2.5);
  height: calc(70px * 2.5);
  top: 130px;

  animation-name: example2;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.person {
  position: absolute;
  width: calc(80px * 1.5);
  height: calc(110px * 1.5);
  bottom: 0px;
  left: 30px;
}

.block {
  // margin-bottom: 20px;
  // margin: 10px;
  // padding: 10px;
  // @extend %neu-rounded;
  // @extend %neu-shadow-under;
}