@import "../../const/var.scss", "../../const/minix.scss",
  "../../additional/neumorphism.scss";

$item-gap: 12px;

.topBar {
  position: absolute;
  z-index: 1050;

  .menuHolder {
  }
  .menuLeftItems {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;

    background: $mainColor;
    @extend %neu-shadow-over;
    @extend %neu-rounded;
    margin: 10px;
    padding: $item-gap $item-gap $item-gap $item-gap;

    .logo {
      font-size: 30px;
      margin-left: 20px;
      margin-top: 4px;
    }
    .bottomItems {
      transform-origin: top;
      pointer-events: none;
      opacity: 0;
      max-height: 0;
      margin-top: 0;
      transition: opacity 250ms $animation-easing,
        max-height 250ms $animation-easing 250ms,
        margin-top 250ms $animation-easing 250ms;
    }
    .bottomItemsOpen {
      pointer-events: auto;
      opacity: 1;
      max-height: 120px;
      margin-top: $item-gap;
      transition: opacity 250ms $animation-easing 250ms,
        max-height 250ms $animation-easing, margin-top 250ms $animation-easing;
    }
    .topItems {
      display: flex;
      align-items: center;
      float: left;
    }
  }

  .autoCompleteBoxHidden {
    top: 30px;
    opacity: 0;
    pointer-events: none;
  }
  .autoCompleteBoxVisible {
    top: 45px;
    opacity: 1;
  }
  .autoCompleteBox {
    margin: auto;
    left: 0px;
    right: 0px;
    width: 95%;
    box-sizing: border-box;
    position: absolute;
    z-index: 1100;
    padding: 0px;
    list-style: none;
    background: $mainColor;
    @extend %neu-shadow-over;
    @extend %neu-rounded;

    transition: opacity $animation-easing 250ms, top $animation-easing 250ms;

    li:first-child {
      border-top-left-radius: $neu-round-radius;
      border-top-right-radius: $neu-round-radius;
    }
    li:last-child {
      border-bottom-left-radius: $neu-round-radius;
      border-bottom-right-radius: $neu-round-radius;
    }
    li:not(:last-child) {
      border-bottom: 1px solid #ddd;
    }
    li {
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      text-overflow: ellipsis;
      .suggestionTitle {
        color: black;
        margin-right: 10px;
      }
      .suggestionSubtitle {
      }
      &:hover {
        background-color: $search-bar-sugggestion-hover-color;
      }
    }
  }
  .searchArea {
    $search-button-width: 35px;

    margin: auto;
    position: relative;
    margin-left: 20px;
    width: 100%;
    height: 100%;

    .inputHolder {
      @include flexCenter;
      width: 100%;
      height: 100%;

      .mainSearch {
        width: 100%;
        border-radius: 25px;
        border-radius: 25px;
        border: none;
        outline: none;
        background: $mainColor;
        padding: 5px 25px 5px 20px;
        font-size: 17px;
        @extend %neu-shadow-under;

        .mainInput {
          width: calc(100% - (#{$search-button-width} * 0.55));
          font-size: 15px;
          border: none;
          background: transparent;
          border-bottom: 1px solid #aaa;
        }
        .mainInput:focus {
          outline: none;
          border-bottom: 1px solid #333;
        }
      }
      .searchBtn {
        width: 18px;
        height: 18px;
        &:hover {
          cursor: pointer;
        }
        .btnSearchIcon {
          color: $search-bar-icon-color;
          position: relative;
          right: $search-button-width;
          padding: 1px 1px 1px 1px;
          pointer-events: none;
          stroke-width: 3;
        }
        .btnSearchIconLoading {
          width: 14px;
          height: 14px;
          border: 2px solid $search-bar-icon-color;
          border-radius: 50%;
          border-top-color: transparent;
          border-left-color: transparent;
          border-right-color: transparent;
          animation: rotate 1.5s linear infinite;
        }
      }
    }
  }
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}
